<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Theme CSS -->
    <link type="text/css" href="/kit/assets/css/theme.css" rel="stylesheet">
    <link type="text/css" href="/kit/assets/css/demo.css" rel="stylesheet">
    <title>新学橙-实训项目</title>
</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-dark bg-dark py-4">
        <a class="navbar-brand" href="./"><strong>新学橙</strong> 投票系统</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_example_1" aria-controls="navbar_example_1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <main class="main">
        <section class="py-xl bg-cover bg-size--cover" style="background-image: url('/kit/assets/images/backgrounds/img-1.jpg')">
            <span class="mask bg-primary alpha-6"></span>
            <div class="container d-flex align-items-center no-padding">
                <div class="col">
                    <div class="row justify-content-center">
                        <div class="col-lg-4">
                            <div class="card bg-primary text-white">
                                <div class="card-body">
                                    <span class="clearfix"></span>
                                    <img src="/kit/assets/images/brand/icon.png" style="width: 50px;">
                                    <h4 class="heading h3 text-white pt-3 pb-5">用户登录</h4>
                                    <form class="form-primary">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" id="login_name" placeholder="Your name">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="pwd"  id="pwd" placeholder="Password">
                                        </div>
                                        <button type="button" id="login_sub" class="btn btn-block btn-lg bg-white mt-4">Sign in</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="/kit/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/kit/assets/js/bootstrap/bootstrap.min.js"></script>
    <!-- FontAwesome 5 -->
    <script src="/kit/assets/vendor/fontawesome/js/fontawesome-all.min.js" defer></script>
    <script src="/kit/assets/js/theme.js"></script>
    <script>
        $(document).ready(function(){
            $("#login_sub").on("click",function () {
                $.ajax({
                    //请求资源路径
                    url:"/login",
                    //请求参数
                    data:{
                        name:$("#login_name").val(),
                        pwd:$("#pwd").val()
                    },
                    //请求方式
                    type:"post",
                    //数据形式
                    dataType:"json",
                    //请求成功后调用的回调函数
                    success:function (data) {
                        console.log(data)

                        if (data.code !== 0){
                            commonUtil.message(data.message,"danger",".container")
                        }else{
                            commonUtil.message(data.message,"success",".container")
                            setTimeout("pageRedirect()", 1000);
                        }
                    },
                    //请求失败后调用的回调函数
                    error:function () {
                        commonUtil.message("服务器错误，请稍后再试","danger",".container")
                    }
                });
            });
        });
        function pageRedirect() {
            window.location.replace("/index");
        }
    </script>
</body>
</html>
